:root{
    --cor-de-fundo:#1e1e1e;
    --verde: #6FFF57;
    --braco:#ffffff;
    --botao-ativo: #3A375E;
    --botao-initivo:rgba(58,55,94,0.5);
    --texto-fundo:rgba(58,55,94,0.3);
}

*{
    background-color: var(--cor-de-fundo);
    color: var(--braco);
}
span{
    color:  var(--verde);
}
.conteudo-principal{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:column;
  width: 100%;
  max-width: 1200px;
}
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;
}
.botao{
    background-color: var(--botao-initivo);
    display: flex;
    padding: 1em;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-bottom: left 2px solid var(--botao-ativo);
    border-bottom: 2px solid var(--botao-ativo);
}
